<%= month_calendar events: @events do |_, events| %>
  <div class="flex flex-col w-full">
    <% events.each do |event| %>
      <div>
        <%= button_to event.event_type.name, { controller: :events, action: :show, id: event.id }, method: :get,
                      data: { turbo_frame: 'modal' } %>
      </div>
    <% end %>
  </div>
<% end %>